<link rel="stylesheet" href="css/slides.css" type="text/css">

<script src="js/slides.js"></script>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Innovating Businesses Elevating Humanity</h1>
            <hr>
            <p>Implement AI and various emerging technologies for human sustainability.</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width slides/quotes -->
            <div class="mySlides" style="display: block;">
              <div class="rowx" >
                <div class="column1">
                  <h3><i class="fas fa-4x fa-dna wow bounceIn text-primary"></i></h3>
                  <!-- <h2>Column 1</h2>
                  <p>Some text..</p> -->
                </div>
                <div class="column2 wow bounceIn text-primary">
                  <h2 style="font-weight: bolder;">{{ site.product.first.title }}</h2>
                  <p>{{ site.product.first.short }}</p>
                </div>
              </div>
              <!-- <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
              <p class="author">- John Keats</p> -->
              <br>
              <br>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>

            <div class="mySlides">
              <div class="rowx" >
                <div class="column1">
                  <h3><i class="fas fa-4x fa-vials wow bounceIn text-primary"></i></h3>
                  <!-- <h2>Column 1</h2>
                  <p>Some text..</p> -->
                </div>
                <div class="column2 wow bounceIn text-primary">
                  <h2 style="font-weight: bolder;">{{ site.product.second.title }}</h2>
                  <p>{{ site.product.second.short }}</p>
                </div>
              </div>
              <!-- <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
              <p class="author">- John Keats</p> -->
              <br>
              <br>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        
            <div class="mySlides">
              <div class="rowx">
                <div class="column1">
                  <h3><i class="fas fa-4x fa-seedling wow bounceIn text-primary"></i></h3>
                  <!-- <h2>Column 1</h2>
                  <p>Some text..</p> -->
                </div>
                <div class="column2 wow bounceIn text-primary">
                  <h2 style="font-weight: bolder;">{{ site.product.third.title }}</h2>
                  <p>{{ site.product.third.short }}</p>
                </div>
              </div>
              <!-- <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
              <p class="author">- John Keats</p> -->
              <br>
              <br>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        
            <!-- Next/prev buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        
        <!-- Dots/bullets/indicators -->
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
</header>
