<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Endeavours</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-briefcase wow bounceIn text-primary"></i>
                    <h3>Business Development</h3>
                    <p class="text-muted">We'll help you to improve certain aspects of your business, from growing your sales, cut costs, boost efficiency, both modeling from scratch and remodeling your business.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-chart-line wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Business Analytics</h3>
                    <p class="text-muted">Our goal is to use statistical analysis to help companies gain insight into their business performance data, and use that data to vastly improve business processes and long-term performance</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Business Intelligence</h3>
                    <p class="text-muted">We combine business analytics, data mining, data visualization, data tools and infrastructure, and best practices to help organizations to make more data-driven decisions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-python wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Software Development</h3>
                    <p class="text-muted">Python is one of the top programming language right now due to the high scalability. We provide the development of enterprise level python-based application to support your business.</p>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="img/01.jpg" alt="" srcset="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="img/02.jpg" alt="" srcset="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio">
                    <img src="img/02.jpg" alt="" srcset="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
